.wrapper {
  h2 {
    padding-top: 15px;
    margin-left: 10%;

    @media only screen and (min-width:768px) and (max-width:981px) {
      padding-top: 1.21vw;
    }

    @media only screen and (max-width:767.9px) {
      padding-top: 2.344vw;
    }
  }
  .category {
    width: 80%;
    margin: 0 auto;
    position: relative;

    a {
      text-decoration: none;
      display: flex;
      flex-wrap: wrap;
      color: #333;
    }

    div {

      margin-top: 20px;

      @media only screen and (min-width:768px) and (max-width:981px) {
        margin-top: 1.613vw;
      }

      @media only screen and (max-width:767.9px) {
        margin-top: 3.125vw;
      }

      &.image {
        max-width: 300px;
        margin-right: 25px;

        @media only screen and (min-width:768px) and (max-width:981px) {
          max-width: unset;
          width: 34.729vw;
          margin-right: 2.016vw;
        }

        @media only screen and (max-width:767.9px) {
          width: 42%;
          margin-right: 3%;
        }

        img {
          max-width: 100%;

          @media only screen and (max-width:767.9px) {

            width: 46.875vw;
            height: 31.25vw;
            object-fit: cover;
          }
        }
      }

      &.content {
        width: 48%;

        @media only screen and (max-width:767.9px) {
          width: 55%;
        }
      }

      &.price {
        margin-left: 30px;

        @media only screen and (min-width:768px) and (max-width:981px) {
          margin-left: 36.9vw;
        }

        @media only screen and (max-width:767.9px) {
          margin-left: 35.063vw;
        }
      }
    }

    h3 {
      font-size: 20px;
      font-weight: 500;

      @media only screen and (min-width:768px) and (max-width:981px) {
        font-size: 1.613vw;
      }

      @media only screen and (max-width:767.9px) {
        font-size: 3.125vw;
      }
    }

    .author {
      font-size: 12px;

      @media only screen and (min-width:768px) and (max-width:981px) {
        font-size: 0.968vw;
      }

      @media only screen and (max-width:767.9px) {
        font-size: 1.875vw;
      }
    }

    .price {
      font-size: 20px;
      font-weight: bold;

      @media only screen and (min-width:768px) and (max-width:981px) {
        font-size: 1.613vw;
      }

      @media only screen and (max-width:767.9px) {
        font-size: 3.125vw;
      }
    }

    i {
      color: #ffa500;
    }
  }

  .pagination {
    text-align: center;
    padding-bottom: 10px;

    @media only screen and (min-width:768px) and (max-width:981px) {
      padding-bottom: 0.806vw;
    }

    @media only screen and (max-width:767.9px) {
      padding-bottom: 1.563vw;
    }
  }

  .hover_content {
    position: absolute;
    width: 320px;
    visibility: hidden;
    border: 1px solid #cecece;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    z-index: 2;
    background-color: #fff;
    display: none;
    padding: 0 8px;

    @media only screen and (min-width:768px) and (max-width:981px) {
      width: 42.194vw;
      border: 0.081vw solid #cecece;
      padding: 0 0.645vw;
      bottom: 70%;
      margin-left: -4.839vw;
      left: 40%;
    }

    @media only screen and (max-width:767.9px) {
      width: 80.875vw;
      border: 0.156vw solid #cecece;
      padding: 0 1.25vw;
      margin-left: -2.375vw;
      bottom: 80%;
      left: 5%;
    }
  }

  .content_left {
    position: absolute;
    width: 300px;
    visibility: hidden;
    border: 1px solid #cecece;
    z-index: 2;
    background-color: #fff;
    display: none;
    top: 80%;
    left: 50%;
    bottom: unset;
    margin-left: -60px;

    @media only screen and (min-width:768px) and (max-width:981px) {
      width: 42.194vw;
      border: 0.081vw solid hsl(0, 0%, 81%);
      margin-left: -4.839vw;
      left: 40%;
      top: 68%;
    }

    @media only screen and (max-width:767.9px) {
      width: 80.875vw;
      top: 60%;
      border: 0.156vw solid #cecece;
      margin-left: -2.375vw;
      left: 5%;
    }
  }

  .content_left::after {
    content: "";
    position: absolute;
    bottom: 100%;
    top: unset !important;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #cecece transparent !important;

    @media only screen and (min-width:768px) and (max-width:981px) {
      margin-left: -0.403vw;
      border-width: 0.806vw;
    }

    @media only screen and (max-width:767.9px) {
      margin-left: -0.781vw;
      border-width: 1.563vw;
    }
  }

  .hover_content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #cecece transparent transparent transparent;

    @media only screen and (min-width:768px) and (max-width:981px) {
      margin-left: -0.403vw;
      border-width: 0.806vw;
    }

    @media only screen and (max-width:767.9px) {
      margin-left: -0.781vw;
      border-width: 1.563vw;
    }
  }

  .category:hover .hover_content {
    display: block;
    visibility: visible;
  }
}