<div [formGroup]="courseSvc.pricingPromotionForm" class="container">
  <h2>Pricing and Promotion</h2>

  <div class="info">
    <mat-form-field appearance="outline">
      <mat-select formControlName="currency">
        <mat-option *ngFor="let currency of currencys" [value]="currency.value">
          {{currency.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select formControlName="pricing" placeholder="Select">
        <div class="" *ngIf="courseSvc.pricingPromotionForm.controls['currency'].value === 'USD'">
          <mat-option *ngFor="let pricing of pricingsUSD" [value]="pricing.value">
            {{pricing.value}}
          </mat-option>
        </div>
        <div class="" *ngIf="courseSvc.pricingPromotionForm.controls['currency'].value === 'Myanmar'">
          <mat-option *ngFor="let pricing of pricingsMyan" [value]="pricing.value">
            {{pricing.value}}
          </mat-option>
        </div>
        
      </mat-select>
      <mat-error *ngIf="f['pricing'].hasError('required')">Please select!!</mat-error>
    </mat-form-field>
  </div>

  <div class="input-container">
    <input type="text" formControlName="promotion" />
    <button (click)="onCopy()">Copy</button>
  </div>
</div>

<div class="clearfix">
  <button mat-raised-button color="primary" type="button" style="float: left;" matStepperPrevious>Previous</button>
  <button mat-raised-button color="primary" type="button" class="stepper-next" matStepperNext>Next</button>
</div>