.clearfix::after {
  clear: both;
  display: table;
  content: "",
}

.header {
  background-color: #f0f0f0;
  width: 100%;

  .title {
    float: left;
    margin-left: 10px;
    padding-top: 20px;

    h1 {
      font-size: 30px;
      font-weight: bold;

      a {
        text-decoration: none;
        color: #000;
      }
    }
  }

  .nav {
    float: right;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;

    li {
      float: left;
      margin-right: 20px;
      list-style: none;
    }

    .cart {
      position: relative;
    }

    .hover_content {
      position: absolute;
      width: 280px;
      visibility: hidden;
      border: 1px solid #cecece;
      left: -250%;
      right: -60%;
      margin-left: -60px;
      margin-top: 10px;
      z-index: 1;
      background-color: #fff;
      display: none;
      padding: 15px 8px;
    }

    .hover_content::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 52%;
      margin-left: -5px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #fff transparent;
    }

    .cart:hover .hover_content {
      display: block;
      visibility: visible;
    }

    button {
      margin-top: -8px;
    }

    .nav-icon {
      button {
        background: transparent;
        border: none;

        i {
          font-size: 20px;
        }
      }
    }
  }
}

.footer {
  //background-color: #333;
  // display: flex;
  // justify-content: space-between;

  p {
    color: #333;
    font-size: 16px;
    text-align: center;
    padding: 30px 10px 15px 10px;
  }
}