<div class="container">
    <h2>Reset Password</h2>
    <form class="reset-form" [formGroup]="resetPwdForm" (ngSubmit)="resetPassword()">

        <mat-form-field class="content" appearance="outline">
            <input matInput type="text" formControlName="password" placeholder="Enter new password">
            <mat-error *ngIf="f['password'].hasError('required')">Password is required</mat-error>
            <!-- <mat-error *ngIf="f['password'].hasError('required') && f['password'].hasError('pattern')">Password must be at least 8chars</mat-error> -->
        </mat-form-field>

        <mat-form-field class="content" appearance="outline">
            <input matInput type="text" formControlName="confirmPwd" placeholder="Enter confirm password">
            <mat-error *ngIf="f['confirmPwd'].hasError('required')">Comfirm password is required</mat-error>
            <!-- <mat-error *ngIf="f['confirmPwd'].hasError('required') && f['password'].hasError('pattern')">Password must be at least 8chars</mat-error> -->
        </mat-form-field>

        <div class="btn">
            <button mat-raised-button color="primary">Update Password</button>
        </div>
    </form>
</div>