<div class="wrapper">
  <div class="inner">
    <div class="instructor-dashboard">
      <div class="instructor-profile">
        <div class="instructor-setting">
          <p class="instructor-name">{{instructors[0].name}}</p>
          <a [routerLink]="['/forgot-password']" class="pwd-chg">Password Change</a>
        </div>
        <div class="instructor-img">
          <img src="{{instructors[0].profile}}" alt="">
        </div>
      </div>
      <div class="instructor-ttl">
        <h2>Instructor Dashboard</h2>
      </div>
      <ul class="instructor-content">
        <li *ngFor="let instructor of instructors | paginate: { itemsPerPage: 9, currentPage: p };,let i = index">
            <div class="course-img">
              <img src="{{instructor.image}}" alt="">
            </div>
            <p class="course-ttl">{{instructor.title}}</p>
            <p class="course-info">{{instructor.info}}</p>
            <span class="course-price">{{instructor.price}}</span>
        </li>
      </ul>
      <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>