.container {
  width: 98%;
  height: 98%;
  margin: 1% auto;
  border-radius: 10px;

  .side {
    background-color: #575151;
    color: #fff;
  }

  .content {
    .menu-bar {
      display: none;
      width: 40px;
      height: 40px;
      margin: 10px;
      font-size: 28px;
      background: transparent;
      border: none;
      cursor: pointer;
      color: #000;

      @media only screen and (max-width:1024px) {
        display: block;
        margin: 1.563vw;
      }
    }

    .crud-container {
      width: 80%;
      margin: 30px auto;

      @media only screen and (max-width:767.9px) {
        margin: 4.688vw auto;
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width:767.9px) {
          flex-direction: column;
          align-items: flex-start;
        }

        .title {
          margin: 0;
        }

        .btn-gp {
          @media only screen and (max-width:400px) {
            width: 100%;
            margin-bottom: 4.156vw;
          }

          mat-form-field {
            margin-right: 20px;

            @media only screen and (max-width:767.9px) {
              margin-right: 3.125vw;
            }

            @media only screen and (max-width:400px) {
              width: 100%;
              margin-right: 0;
            }
          }

          button {
            margin-top: 10px;
            padding: 5px 10px;

            @media only screen and (max-width:767.9px) {
              margin-top: 1.563vw;
              padding: 0.781vw 1.563vw;
            }

            @media only screen and (max-width:400px) {
              width: 100%;
            }
          }

          button {
            mat-icon {
              transform: scale(0.8);
            }
          }

          mat-icon {
            margin-right: 5px;
            margin-bottom: 5px;
            transform: scale(0.8);

            @media only screen and (max-width:767.9px) {
              margin-right: 0.781vw;
              margin-bottom: 0.781vw;
            }
          }
        }
      }

      .table-container {
        overflow: auto;

        .crud-table {
          width: 100%;
          white-space: nowrap;

          .mat-header-cell {
            font-size: 14px;
            font-weight: 500;
            background-color: #9c1de7;
            color: #fff;
          }

          .instructor-name {
            min-width: 240px;
            width: 15%;
          }

          .headline {
            min-width: 180px;
            width: 15%;
          }

          .biography {
            min-width: 230px;
            width: 15%;
          }

          .created {
            min-width: 150px;
            width: 10%;
          }

          .actions {
            min-width: 90px;
            width: 10%;
          }
        }

        .mat-paginator {
          background: transparent;

          ::ng-deep .mat-paginator-range-label {
            margin: 0;
          }
        }
      }
    }
  }
}