<div class="wrapper">
  <div class="edit-instructor inner">
    <form action="">
      <fieldset>
        <legend><img src="{{instructors[0].profile}}" alt="">
          <div class="image-upload">
            <label for="file-input">
              <div class="upload-icon">
                <i class="fa-solid fa-pen"></i>
              </div>
            </label>
            <input id="file-input" type="file" />
          </div>
        </legend>
        <div class="edit-input">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" value="{{instructors[0].name}}">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" value="{{instructors[0].email}}">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone" value="{{instructors[0].phone}}">
          </mat-form-field>
          <a [routerLink]="['/instructor-password-change']">Change Password</a>
        </div>
        <div class="btn">
          <button mat-raised-button color="primary">Edit</button>
          <button mat-raised-button color="warn">Back</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>