.rating-dialog {
  .rating-ttl {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 30px;
      font-weight: 900;
      margin: 0;
    }

    .close-btn {
      border: none;
      background-color: transparent;
      cursor: pointer;

      i {
        font-size: 28px;
      }
    }
  }

  .review-cmt {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border: 1px solid #b9b9b9;
    padding: 15px;
    border-radius: 5px;

    .cmt-img {
      width: 60px;
      height: 60px;
      border-radius: 60px;
      object-fit: cover;
    }

    .cmt-box {
      margin-left: 30px;

      h3 {
        font-size: 16px;
        font-weight: 900;
      }

      .star {
        color: #e59819;
      }

      .cmt-date {
        color: #b9b9b9;
        padding-left: 10px;
      }

      .cmt {
        margin-top: 12px;
      }

      .feedback {
        display: inline-block;
        padding-bottom: 20px;
      }

      .cmt-reaction {
        cursor: pointer;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: transparent;

        &.thumb {

          background-color: #1c1d1f;

          i {
            color: #fff;
          }
        }
      }

      .report-txt {
        color: #1c1d1f;
      }
    }
  }

  .rating-blk {
    padding-top: 30px;
    text-align: center;
    margin-bottom: 20px;

    h3 {
      font-size: 20px;
      font-weight: 900;
    }

    button {
      font-size: 30px;
      color: #dcdcdc;
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;

      +button {
        margin-left: 15px;
      }
    }

    .stars {
      display: inline-block;
    }
  }

  .cmt-blk {
    margin-top: 20px;

    .cmt-ttl {
      font-size: 16px;
      font-weight: 900;
    }

    .cmt-input {
      resize: none;
      border: 1px solid #b9b9b9;
      border-radius: 5px;
      width: 100%;
      outline: none;
    }

    .submit-btn {
      background-color: #0275d8;
      color: #fff;
      margin-top: 20px;
      border: none;
      cursor: pointer;
      padding: 10px 25px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    }
  }
}