<div class="wrapper">
  <div class="mainvisual">
    <img src="../../assets/images/learn.jpg" alt="">
  </div>

  <div class="carousel-container">
    <div class="carousel-title">
      <h2>Popular Course</h2>
    </div>
    <div class="carousel-inner">
      <owl-carousel-o [options]="customOptions" #owlPopular>
        <ng-container *ngFor="let course of courseList,let i = index">
          <ng-template carouselSlide>
            <div class="card" (mouseenter)="onMOver($event)" (mouseleave)="onMOut($event)">
              <div href="#" style="display: block;">
                <img src="{{'http://localhost:3000/' + course?.detail?.courseCover}}" alt="C#" style="width: 100%;height: 200px;">
                <div class="content">
                  <p><b>{{course?.detail?.title}}</b>
                    <span>{{course?.instructor_id?.instructorName}}</span>
                  </p>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <p><b>{{course?.detail?.price}}</b></p>
                </div>
              </div>
              <div class="hover_content" [ngClass]="((i+1) % 5 === 0) ? 'content_left' : ''">
                <div style="padding:15px">
                  <p style="font-size: 16px;font-weight:bold;text-align: left;">
                    {{course?.detail?.title}}
                    <span style="font-size: 12px;font-weight:normal;display:block;padding-top: 5px;">
                      {{course?.instructor_id?.instructorName}}
                    </span>
                  </p>
                  <p style="text-align: left;">
                    {{course.detail.description}}
                  </p>
                  <div style="margin-bottom:15px;">
                    <button
                      style="text-align: center;padding:10px 50px;background-color:#8a2be2;border: none;margin-right:20px;color: #fff;">
                      Add to cart
                    </button>
                    <button style="border: 50%;width: 35px;height: 35px;border-radius: 50%;border: 1px solid #aaa;">
                      <i class="fa-regular fa-heart"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
      <div class="center btn">
        <button role="presentation" class="owl-prev prev" (click)="owlPopular.prev()">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button role="presentation" class="owl-next next" (click)="owlPopular.next()">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="carousel-container">
    <div class="carousel-title">
      <h2>Top Course</h2>
    </div>
    <div class="carousel-inner">
      <owl-carousel-o [options]="customOptions" #owlPopular>
        <ng-container *ngFor="let course of courseList,let i = index">
          <ng-template carouselSlide>
            <div class="card" (mouseenter)="onMOver($event)" (mouseleave)="onMOut($event)">
              <div href="#" style="display: block; width: 215px;">
                <img src="{{'http://localhost:3000/' + course?.detail?.courseCover}}" alt="C#" style="width: 100%;height: 200px;">
                <div class="content">
                  <p><b>{{course?.detail?.title}}</b>
                    <span>{{course?.instructor_id?.instructorName}}</span>
                  </p>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <p><b>{{course?.detail?.price}}</b></p>
                </div>
              </div>
              <div class="hover_content" [ngClass]="((i+1) % 5 === 0) ? 'content_left' : ''">
                <div style="padding:15px">
                  <p style="font-size: 16px;font-weight:bold;text-align: left;">
                    {{course?.detail?.title}}
                    <span style="font-size: 12px;font-weight:normal;display:block;padding-top: 5px;">
                      {{course?.instructor_id?.instructorName}}
                    </span>
                  </p>
                  <p style="text-align: left;">
                    {{course.detail.description}}
                  </p>
                  <div style="margin-bottom:15px;">
                    <button
                      style="text-align: center;padding:10px 50px;background-color:#8a2be2;border: none;margin-right:20px;color: #fff;">
                      Add to cart
                    </button>
                    <button style="border: 50%;width: 35px;height: 35px;border-radius: 50%;border: 1px solid #aaa;">
                      <i class="fa-regular fa-heart"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
      <div class="center btn">
        <button role="presentation" class="owl-prev prev" (click)="owlPopular.prev()">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button role="presentation" class="owl-next next" (click)="owlPopular.next()">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="carousel-container">
    <div class="carousel-title">
      <h2>Instructors</h2>
    </div>
    <div class="carousel-inner">
      <owl-carousel-o [options]="customOptions" #owlinstructor>
        <ng-container *ngFor="let instructor of instructorList">
          <ng-template carouselSlide>
            <div class="card">
              <a href="#">
                <img src="{{'http://localhost:3000/' + instructor?.instructorProfile}}" style="width: 100%;height: 150px;">
                <div class="info">
                  <table>
                    <tr>
                      <td class="label">Name: </td>
                      <td>{{instructor?.instructorName}}</td>
                    </tr>
                    <tr>
                      <td class="label">Email: </td>
                      <td>{{instructor?.user_id?.email}}</td>
                    </tr>
                    <tr>
                      <td class="label">HeadLine: </td>
                      <td>{{instructor?.headline}}</td>
                    </tr>
                    <tr>
                      <td class="label">Biography: </td>
                      <td>{{instructor?.biography}}</td>
                    </tr>
                  </table>
                </div>
              </a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>

      <div class="center btn">
        <button role="presentation" class="owl-prev prev" (click)="owlinstructor.prev()">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button role="presentation" class="owl-next next" (click)="owlinstructor.next()">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>