<div class="wrapper">
  <div class="mainvisual">
    <img src="../../assets/images/learn.jpg" alt="">
  </div>

  <div class="carousel-container">
    <div class="carousel-title">
      <h2>Popular Course</h2>
    </div>
    <div class="carousel-inner">
      <owl-carousel-o [options]="customOptions" #owlPopular>
        <ng-container *ngFor="let popular of populars">
          <ng-template carouselSlide>
            <div class="card" [tooltip]="$any(HtmlContent)" [options]="myOptions" contentType="template">
              <a href="#">
                <img src="{{popular.img}}" alt="C#" style="width: 100%;height: 200px;">
                <div class="content">
                  <p><b>{{popular.title}}</b>
                    <span>{{popular.author}}</span>
                  </p>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <p><b>{{popular.price}}</b></p>
                </div>
              </a>
            </div>
            <ng-template #HtmlContent>
              <div style="padding:15px">
                <p style="font-size: 16px;font-weight:bold;text-align: left;">
                  {{popular.title}}
                  <span style="font-size: 12px;font-weight:normal;display:block;padding-top: 5px;">
                    {{popular.author}}
                  </span>
                </p>
                <p style="text-align: left;">
                  {{popular.info}}
                </p>
              </div>
              <div style="margin-bottom:15px;">
                <button
                  style="text-align: center;padding:10px 50px;background-color:#8a2be2;border: none;margin-right:20px;color: #fff;">
                  Add to cart
                </button>
                <button style="border: 50%;width: 35px;height: 35px;border-radius: 50%;border: 1px solid #aaa;">
                  <i class="fa-regular fa-heart"></i></button>
              </div>
            </ng-template>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
      <div class="center btn">
        <button role="presentation" class="owl-prev prev" (click)="owlPopular.prev()">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button role="presentation" class="owl-next next" (click)="owlPopular.next()">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="carousel-container">
    <div class="carousel-title">
      <h2>Top Course</h2>
    </div>
    <div class="carousel-inner">
      <owl-carousel-o [options]="customOptions" #owltop>
        <ng-container *ngFor="let top of tops">
          <ng-template carouselSlide>
            <div class="tooltips">
              <div class="card" [tooltip]="$any(HtmlContent)" [options]="myOptions" contentType="template">
                <img src="{{top.img}}" alt="C#" style="width: 100%;height: 200px;">
                <div class="content">
                  <p><b>{{top.title}}</b>
                    <span>{{top.author}}</span>
                  </p>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <p><b>{{top.price}}</b></p>
                </div>
              </div>

              <ng-template #HtmlContent>
                <div style="padding:15px">
                  <p style="font-size: 16px;font-weight:bold;text-align: left;">
                    {{top.title}}
                    <span style="font-size: 12px;font-weight:normal;display:block;padding-top: 5px;">
                      {{top.author}}
                    </span>
                  </p>
                  <p style="text-align: left;">
                    {{top.info}}
                  </p>
                </div>
                <div style="margin-bottom:15px;">
                  <button
                    style="text-align: center;padding:10px 50px;background-color:#8a2be2;border: none;margin-right:20px;color: #fff;">
                    Add to cart
                  </button>
                  <button style="border: 50%;width: 35px;height: 35px;border-radius: 50%;border: 1px solid #aaa;">
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </div>
              </ng-template>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>

      <div class="center btn">
        <button role="presentation" class="owl-prev prev" (click)="owltop.prev()">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button role="presentation" class="owl-next next" (click)="owltop.next()">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="carousel-container">
    <div class="carousel-title">
      <h2>Instructors</h2>
    </div>
    <div class="carousel-inner">
      <owl-carousel-o [options]="customOptions" #owlinstructor>
        <ng-container *ngFor="let instructor of instructors">
          <ng-template carouselSlide>
            <div class="card">
              <a href="#">
                <img src="{{instructor.profile}}" style="width: 100%;height: 150px;">
                <div class="info">
                  <table>
                    <tr>
                      <td class="label">Name: </td>
                      <td>{{instructor.name}}</td>
                    </tr>
                    <tr>
                      <td class="label">Age: </td>
                      <td>{{instructor.age}}</td>
                    </tr>
                    <tr>
                      <td class="label">Degree: </td>
                      <td>{{instructor.degree}}</td>
                    </tr>
                    <tr>
                      <td class="label">Subject: </td>
                      <td>{{instructor.subject}}</td>
                    </tr>
                  </table>
                </div>
              </a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>

      <div class="center btn">
        <button role="presentation" class="owl-prev prev" (click)="owlinstructor.prev()">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button role="presentation" class="owl-next next" (click)="owlinstructor.next()">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>