.wrapper {
  width: 100%;

  .mainvisual {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    background-color: #ddd;

    @media only screen and (min-width:768px) and (max-width:1280px) {
      padding: 2.419vw 0;
    }

    @media only screen and (max-width:767.9px) {
      padding: 4.688vw 0;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 900px;

      @media (min-width: 768px) and (max-width: 1280px) {
        max-width: 72.581vw;
      }

      @media only screen and (max-width:767.9px) {
        max-width: 93.625vw;
      }
    }
  }

  .carousel-container {
    margin: 50px auto;
    position: relative;

    @media (min-width: 768px) and (max-width: 1280px) {
      margin: 4.032vw auto;
      max-width: 103.226vw;
      min-height: 16.129vw;
    }

    @media only screen and (max-width:767.9px) {
      margin: 7.813vw auto;
      max-width: 200vw;
      min-height: 31.25vw;
    }

    .carousel-title {
      padding-left: 30px;
      font-size: 25px;

      @media (min-width: 768px) and (max-width: 1280px) {
        padding-left: 2.419vw;
        font-size: 2.016vw;
      }

      @media only screen and (max-width:767.9px) {
        padding-left: 4.688vw;
        font-size: 3.906vw;
      }
    }

    .carousel-inner {

      .card {
        position: relative;
        width: 84%;
        margin: 8%;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 8px;

        .slider-img {
          width: 100%;
          height: 200px;

          @media only screen and (max-width: 1296px) {

            height: 250px;
          }

          @media only screen and (max-width:816px) {
            height: 300px;
          }
        }
      }

      a {
        color: #000;
        text-decoration: none;
      }

      .content {
        padding: 0 10px;

        @media (min-width: 768px) and (max-width: 1280px) {
          padding: 0 0.806vw;
        }

        @media only screen and (max-width:767.9px) {
          padding: 0 1.563vw;
        }

        .title {
          font-size: 16px;
          font-weight: 700;
        }

        span {
          display: block;
          padding-top: 5px;
          font-size: 12px;

          @media (min-width: 768px) and (max-width: 1280px) {
            padding-top: 0.403vw;
            font-size: 0.968vw;
          }

          @media only screen and (max-width:767.9px) {
            padding-top: 0.781vw;
            font-size: 1.875vw;
          }
        }

        i {
          color: #6c6c6c;
        }

        .add-cart {
          text-align: center;
          padding: 10px 50px;
          background-color: #8a2be2;
          border: none;
          margin-right: 20px;
          color: #fff;

          @media only screen and (max-width: 1296px) {
            padding: 0.806vw 4.032vw;
            font-size: 14px;
          }

          @media only screen and (max-width:767.9px) {
            padding: 1.563vw 7.813vw;
            font-size: 12px;
          }
        }

        .heart-btn {
          border: 50%;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          border: 1px solid #aaa;

          @media only screen and (max-width:1296px) {
            width: 2.823vw;
            height: 2.823vw;
            padding: 2px;
          }

          @media only screen and (max-width:766px) {
            width: 5.469vw;
            height: 5.469vw;
            padding: 0.156vw;
          }
        }
      }

      .hover_content {
        display: none;
        position: absolute;
        top: 65%;
        right: -90%;
        z-index: 1;
        width: 270px;
        visibility: hidden;
        padding: 0 8px;
        border: 1px solid #cecece;
        background-color: #fff;
        transform: translateY(-50%);

        @media only screen and (max-width: 1296px) {

          width: 40vw;
          top: 45%;
          padding: 0 0.645vw;
          border: 0.081vw solid #cecece;
          right: -18%;
        }

        @media only screen and (max-width:766px) {
          width: 310px;
          padding: 0 1.25vw;
          border: 0.156vw solid #cecece;
          right: 1%;
        }

        @media only screen and (max-width:400px) {
          width: 55vw;
          top: 25%;
        }

        .content {
          padding: 8px;

          .title {
            font-size: 16px;
            font-weight: bold;
            text-align: left;

            @media only screen and (max-width: 1296px) {
              font-size: 14px;
            }

            @media only screen and (max-width:766px) {
              font-size: 12px;
            }
          }

          .desc {
            font-size: 14px;
            font-weight: 500;

            @media only screen and (max-width: 1296px) {
              font-size: 13px;
            }

            @media only screen and (max-width:766px) {
              font-size: 11px;
            }
          }
        }
      }

      .hover_content::after {
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        content: "";
        border-width: 10px;
        border-style: solid;
        border-color: #cecece;
        border-color: transparent #fff transparent transparent;

        @media (min-width: 768px) and (max-width: 1280px) {

          margin-top: -0.403vw;
          border-width: 0.806vw;
        }

        @media only screen and (max-width:767.9px) {
          margin-top: -0.781vw;
          border-width: 1.563vw;
        }
      }

      .content_left {
        display: none;
        position: absolute;
        top: 65%;
        right: unset;
        left: -90%;
        z-index: 1;
        width: 270px;
        visibility: hidden;
        border: 1px solid #cecece;
        background-color: #fff;
        transform: translateY(-50%);

        @media only screen and (max-width: 1296px) {
          width: 40vw;
          top: 45%;
          border: 0.081vw solid #cecece;
          left: -18%;
        }

        @media only screen and (max-width:766px) {
          width: 310px;
          border: 0.156vw solid #cecece;
          left: 1%;
        }

        @media only screen and (max-width:400px) {
          top: 25%;
          width: 55vw;
        }
      }

      .content_left::after {
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -5px;
        content: " ";
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent #fff;

        @media (min-width: 768px) and (max-width: 1280px) {
          margin-top: -0.403vw;
          border-width: 0.806vw;
        }

        @media only screen and (max-width:767.9px) {
          margin-top: -0.781vw;
          border-width: 1.563vw;
        }
      }

      .card:hover .hover_content {
        display: block;
        visibility: visible;
      }

      .info {
        padding: 10px 5px;
        word-break: break-word;

        @media (min-width: 768px) and (max-width: 1280px) {
          padding: 0.806vw 0.403vw;
        }

        @media only screen and (max-width:767.9px) {
          padding: 1.563vw 0.781vw;
        }
      }

      .btn {
        button {
          position: absolute;
          top: 50%;
          z-index: 2;
          width: 50px;
          height: 50px;
          border: 1px solid #aaa;
          cursor: pointer;
          transform: translateY(-50%);
          border-radius: 50%;

          @media only screen and (min-width:768px) and (max-width:1280px) {
            width: 4.032vw;
            height: 4.032vw;
            border: 0.081vw solid #aaa;
          }

          @media only screen and (max-width:767.9px) {
            width: 7.813vw;
            height: 7.813vw;
            border: 0.156vw solid #aaa;
          }
        }

        .prev {
          left: 0;

          //          @media only screen and (min-width:768px) and (max-width:1280px) {
          //            left: 0;
          //          }
          //
          //          @media only screen and (max-width:767.9px) {
          //            left: 0;
          //          }
        }

        .next {
          right: 0;
          //
          //          @media only screen and (min-width:768px) and (max-width:1280px) {
          //            right: 0;
          //          }
          //
          //          @media only screen and (max-width:767.9px) {
          //            right: 0;
          //          }
        }
      }
    }
  }



}