<div class="wrapper">
  <div class="inner">
    <div class="pwd-chg">
      <div class="pwd-chg-ttl">
        <h2>Change your password</h2>
      </div>
      <form class="pwd-chg-form" [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label>Current Password</mat-label>
          <input matInput placeholder="Current Password" formControlName="current_password"
          id="current_password" 
          type="password">
          <mat-error *ngIf="myForm['current_password'].hasError('required')">Current Password is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput placeholder="New Password" formControlName="new_password"
          id="new_password" 
          type="password">
          <mat-error *ngIf="myForm['new_password'].hasError('required')">New Password is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm New Password</mat-label>
          <input matInput placeholder="Confirm New Password" formControlName="confirm_password"
          id="confirm_password" 
          type="password" >
          <mat-error *ngIf="myForm['confirm_password'].hasError('required')">Confirm Password is required.</mat-error>
          <mat-error *ngIf="myForm['confirm_password'].hasError('confirmedValidator')">New Password and Confirm New Password must be match.</mat-error>
        </mat-form-field>
        <div class="btn">
          <button mat-raised-button color="primary" [disabled]="!form.valid">Change Password</button>
          <button mat-raised-button color="warn">Back</button>
        </div>
      </form>
    </div>
  </div>
</div>
