.inner {
  width: 98%;
  max-width: 1400px;
  margin: 0 auto;

  @media only screen and (min-width:768px) and (max-width:1280px) {
    width: 95%;
    max-width: 100%;
  }

  @media only screen and (max-width:767.9px) {
    width: 95%;
    max-width: 100%;
  }
}

.pwd-chg {
  width: 50%;
  margin: 60px auto;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 40px;

  @media only screen and (min-width:768px) and (max-width:1280px) {
    width: 65%;
    margin: 8.839vw auto;
    border: 0.081vw solid #cecece;
    border-radius: 1.21vw;
    padding: 3.226vw;
  }

  @media only screen and (max-width:767.9px) {
    width: 90%;
    margin: 40.375vw auto 9.375vw;
    border: 0.156vw solid #cecece;
    border-radius: 2.344vw;
    padding: 6.25vw;
  }

  .pwd-chg-ttl {
    h2 {
      font-size: 32px;
      font-weight: 900;
      text-align: center;
      padding-bottom: 30px;

      @media only screen and (min-width:768px) and (max-width:1280px) {
        font-size: 3.581vw;
        padding-top: 13.5px;
      }

      @media only screen and (max-width:767.9px) {
        font-size: 5vw;
        padding-top: 4.688px;
      }
    }
  }

  .pwd-chg-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    mat-form-field {
      font-size: 16px;

      @media only screen and (min-width:768px) and (max-width:1280px) {
        font-size: 1.69vw;
      }

      @media only screen and (max-width:767.9px) {
        font-size: 2.5vw;
      }

      ::ng-deep .mat-form-field-wrapper {
        margin: 0.6rem 0;
      }
    }

    .btn {
      text-align: center;
      padding-top: 30px;

      @media only screen and (min-width:768px) and (max-width:1280px) {
        padding-top: 13.5px;
      }

      @media only screen and (max-width:767.9px) {
        padding-top: 4.688vw;
      }

      button {
        font-size: 16px;

        @media only screen and (min-width:768px) and (max-width:1280px) {
          font-size: 1.69vw;
        }

        @media only screen and (max-width:767.9px) {
          font-size: 2.5vw;
        }

        +button {
          margin-left: 35px;

          @media only screen and (min-width:768px) and (max-width:1280px) {
            margin-left: 2.823vw;
          }

          @media only screen and (max-width:767.9px) {
            margin-left: 5.469vw;
          }
        }
      }
    }
  }
}