@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

.l-inner {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1400px;
}

a {
  border: 0 none;
  outline: 0;
  text-decoration: none;
}

strong {
  font-weight: bold;
  font-size: 12px;
}

p {
  margin: 0.75rem 0 0;
}

h1 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
button {
  border: 0 none;
  outline: 0 none;
}

button {
  background-color: #666;
  color: #fff;
}

button:hover,
button:focus {
  background-color: #555;
}

img,
.basket-module,
.basket-labels,
.basket-product {
  width: 100%;
}

.hide {
  display: none;
}

.product-items {
  max-width: 1400px;
  margin: 0 auto;
  padding: 25px;

  @media only screen and (max-width:1024px) {
    max-width: 100%;
    padding: 4.321vw 1.856vw;
  }

  .thumbnail {
    img {
      width: 200px;
      height: 200px;

      @media only screen and (max-width:768px) {
        width: 120px;
        height: 120px;
      }
    }
  }

  table {
    td {
      padding-right: 10px;
    }
  }

  .main-ttl {
    font-size: 30px;
  }
}

main {
  display: flex;
  font-size: 0.75rem;
  justify-content: space-between;

  @media only screen and (max-width:1024px) {
    flex-direction: column-reverse;
  }
}

.basket,
aside {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket {
  width: 68%;

  @media only screen and (max-width:1024px) {
    width: 100%;
  }

  table {
    border-collapse: collapse;
  }

  td {
    text-align: center;
    padding: 12px;
  }

  tr {
    border-bottom: 1px solid #cecece;
  }

  .product-image-ttl {
    width: 18%;
    min-width: 173px;
    padding: 12px;
  }

  .price,
  .subtotal {
    width: 18%;
    min-width: 110px;
    padding: 12px;
  }

  .quantity {
    width: 18%;
    min-width: 110px;
    padding: 12px;
  }

  .remove {
    width: 8%;
    min-width: 85px;
    padding: 12px;
  }

  .product-image {
    width: 72%;
    display: flex;
    align-items: center;

    img {
      width: 100%;
    }

    p {
      margin: 0;
      padding-left: 10px;
      font-weight: 700;
    }
  }

  .remove-btn {
    button {
      background-color: transparent;
      color: #ff0000;
    }
  }
}

.basket-module {
  color: #111;
}

label {
  display: block;
  margin-bottom: 0.3125rem;
}

.promo-code-field {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: all 0.2s linear;
  width: 48%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.promo-code-field:hover,
.promo-code-field:focus {
  border: 1px solid #999;
}

.promo-code-cta {
  border-radius: 4px;
  font-size: 0.625rem;
  margin-left: 0.625rem;
  padding: 0.6875rem 1.25rem 0.625rem;
}

.basket-table {
  overflow-x: scroll;
  border: 1px solid #ccc;
  margin-top: 1.625rem;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  border-bottom: 1px solid #cecece;
  padding: 0 15px;
}

li {
  color: #111;
  display: inline-block;
  padding: 0.625rem 0;
}

.remove button {
  background-color: transparent;
  color: red;
  text-decoration: underline;
  text-transform: uppercase;
}

.basket-product {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
  position: relative;
}

.product-image {
  width: 35%;

  @media only screen and (max-width:1024px) {
    width: 50%;
  }
}

.product-details {
  width: 45%;
}

.product-frame {
  border: 1px solid #aaa;
}

.product-details {
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.quantity-field {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px;
  width: 3.75rem;

  @media only screen and (max-width:1024px) {
    width: 47%;
  }
}

.summary {
  background-color: #eee;
  border: 1px solid #aaa;
  padding: 10px;
  width: 30%;
  height: 180px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media only screen and (max-width:1024px) {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @media only screen and (max-width:768px) {
    width: 80%;
  }
}

.summary-total-items {
  color: #666;
  font-size: 0.875rem;
  text-align: center;
}

.summary-subtotal,
.summary-total {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 1rem 0;
  overflow: hidden;
  padding: 0.5rem 0;
}

.summary-total {
  display: flex;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
  color: #111;
  width: 50%;
}

.summary-promo {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.promo-title {
  width: 70%;
}

.promo-value {
  color: #8B0000;
  text-align: right;
  width: 30%;
}

.summary-delivery {
  padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
  text-align: right;
}

.total-title {
  font-weight: bold;
  text-transform: uppercase;
}

.summary-checkout {
  display: block;
}

.checkout-cta {
  display: block;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0;
  width: 100%;
}

.summary-delivery-selection {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: block;
  font-size: 0.625rem;
  height: 34px;
  width: 100%;
}