<div class="wrapper">

  <div class="mainvisual">
    <div class="content">
      <p>We share knowledge with the World!</p>
    </div>
  </div>

  <div class="first-blk">
    <div class="inner">
      <div class="lt-content">
        <h3>Discover <span>Our Project</span></h3>
        <p>
          Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
          and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
          evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
          and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <button class="view">View Category</button>
      </div>
      <div class="rt-content">
        <img src="../../../assets/images/learn.jpg" style="width: 600px;height:300px">
      </div>
    </div>
  </div>

  <div class="second-blk">
    <div class="inner">
      <div class="upper-blk">
        <h4>Changing learning for the better</h4>
        <p>
          Whether you want to learn or to share what you know, you’ve come to the right place.
          As a global destination for online learning, we connect people through knowledge.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ea deserunt atque
           excepturi molestias, veritatis porro quas a, ipsum aut totam velit temporibus aliquam 
           voluptatum, debitis cupiditate facere consectetur distinctio?
        </p>
      </div>
      <div class="lower-blk">
        <div class="lower-blk-section">
          <img src="../../../assets/images/quotes.jpg" style="width:50px;height: 50px;">
          <p>
            LearnWithUs fit us like a glove. Their team curates fresh, up-to-date courses from their
            marketplace and makes them available to customers.
          </p>
        </div>
        <div class="lower-blk-section">
          <img src="../../../assets/images/quotes.jpg" style="width:50px;height: 50px;">
          <p>
            In total, it was a big success, I would get emails about what a fantastic resource it was.
          </p>
        </div>
        <div class="lower-blk-section">
          <img src="../../../assets/images/quotes.jpg" style="width:50px;height: 50px;">
          <p>
            LearnWithUs responds to the needs of the business in an agile and global manner.
            It’s truly the best solution for our employees and their careers.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>