<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" class="side" opened>
    <app-user-sidenav></app-user-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-card class="profile-card">
      <div class="container">
        <h2>Password Change</h2>
        <div class="error-alert" *ngIf="errorMsg">{{errorMsg}}</div>
        <form class="pwchange-form" [formGroup]="passwordChangeForm" (ngSubmit)="passwordChange()">

          <label>Old Password</label>
          <mat-form-field appearance="outline">
            <input matInput type="password" formControlName="password" placeholder="Enter Current password">
            <mat-error *ngIf="myForm['password'].hasError('required')">Password is required</mat-error>
          </mat-form-field>

          <label>New Password</label>
          <mat-form-field appearance="outline">
            <input matInput type="password" formControlName="newPassword" placeholder="Enter New password">
            <mat-error *ngIf="myForm['newPassword'].hasError('required')">Comfirm password is required</mat-error>
          </mat-form-field>

          <label>New Confirm Password</label>
          <mat-form-field appearance="outline">
            <input matInput type="password" formControlName="confirmPassword" placeholder="Enter New confirm Password"
              (input)="changePasswordText()">
            <mat-error *ngIf="myForm['confirmPassword'].hasError('required')">Comfirm password is required</mat-error>
            <mat-error *ngIf="myForm['confirmPassword'].hasError('misMatch')">New password and New confirm password
              confirmation
              is not match.</mat-error>
          </mat-form-field>

          <div class="btn">
            <button mat-raised-button [disabled]="passwordChangeForm.invalid">Change Password</button>
          </div>

        </form>
      </div>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
