.side {
  width: 20%;
  height: 100vh;
  background: #eee;
  color: #fff;
  font-size: 16px;

  a {
    text-decoration: none;
    cursor: pointer;
  }

}

.content {
  width: 80%;
  height: 100vh;
  background: #f8f6f6;
  padding: 20px;
  font-size: 16px;

  .error-alert {
    width: 88%;
    padding: 13px 10px 13px 10px;
    text-align: center;
    background-color: rgb(211, 32, 32);
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .profile-card {
    width: 55%;
    margin: 0 auto;
    border-radius: 20px;

    .container {
      width: 100%;

      h2 {
        padding: 10px 15px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 20px 20px 0 0;
      }

      .pwchange-form {
        label {
          width: 90%;
          margin: 0 auto;
          display: block;
          font-size: 14px;
        }
        mat-form-field {
          display: block;
          margin: 0 auto;
          width: 90%;
          margin-bottom: 10px;
        }

        .btn {
          display: flex;
          justify-content: center;
          margin-bottom: 20px;

          button {
              padding: 0 50px;
          }
      }
      }


    }

  }


}
