<mat-list>
  <a [routerLink]="['/user-profile/1']">
    <mat-list-item>
      <mat-icon>account_circle</mat-icon>User Profile
    </mat-list-item>
  </a>
  <mat-divider></mat-divider>
  <a [routerLink]="['/user-password-change/1']">
    <mat-list-item>
      <mat-icon>lock</mat-icon>Password Setting
    </mat-list-item>
  </a>
  <mat-divider></mat-divider>
  <a [routerLink]="['/user-courses']">
    <mat-list-item>
      <mat-icon>collections_bookmark</mat-icon>Courses
    </mat-list-item>
  </a>
  <mat-divider></mat-divider>
</mat-list>
