<div class="user-container">
  <h2 class="user">Edit Profile</h2>
  <form [formGroup]="userForm" (ngSubmit)="confirmUser()" autocomplete="off" novalidate class="user-form">

    <!-- Name -->
    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Name">
      <mat-error *ngIf="myForm['name'].hasError('required')">Name is required</mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Email Address">
      <mat-error *ngIf="myForm['email'].hasError('required')">Email address is required</mat-error>
      <mat-error *ngIf="myForm['email'].hasError('pattern')">Please enter a valid email</mat-error>
    </mat-form-field>

    <!-- Phone -->
    <mat-form-field class="form-group" appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput type="text" (keypress)="keyPress($event)" formControlName="phone" placeholder="Phone">
      <mat-error *ngIf="myForm['phone'].hasError('required')">Phone is required</mat-error>
      <mat-error *ngIf="!myForm['phone'].hasError('required') && myForm['phone'].hasError('pattern')">
        Phone number must be start with 09 and 11 digits</mat-error>
    </mat-form-field>

    <!-- Profile -->
    <label>Old Profile</label>
    <div *ngIf="profileImage">
      <img [src]="profileImage" class="profileimg">
    </div>
    <br>

    <label>New Profile</label>
    <div class="profileinput">
      <input type="file" (change)="imageUpload($event)" formControlName="profile" accept="image/*" maxFileSize=2000000>
    </div>

    <!-- <div class="changePwd">
      <a [routerLink]="['/change-pwd',user?._id]" class="changePwd">Change password?</a>
    </div> -->

    <div class="button-group">
      <button mat-flat-button type="submit" [disabled]="userForm.invalid" color="primary"
        class="btn-submit">{{confirmView === true ? 'Confirm' : 'Edit'}}</button>
      <button mat-stroked-button type="button" (click)="clearData()" color="warn">{{confirmView === true ? 'Cancel' :
        'Clear'}}</button>
    </div>
  </form>
</div>